* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-container {
    height: 3rem;
    background-color: #1abc9c;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-action {
    margin: 0.5rem;
    color: #ecf0f1;
}

.cellprops-action-container {
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprops-action-container>select {
    border: none;
    outline: none;
    border-radius: .1rem;
}

.cellprops-action-container>* {
    display: inline-block;
    margin: 1rem;
}

.font-family-prop {
    padding: .2rem;
}

.font-size-prop {
    padding: .2rem;
}

.formula-actions-container {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-actions-container>input {
    border: none;
    outline: none;
    height: 70%;
}

.formula-actions-container>* {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-icon {
    width: 1.2rem;
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc(100vw - 5rem - .7rem - .7rem - 0.7rem);
}

.sheet-actions-container {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}

.sheet-actions-container>* {
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;
}

.sheet-folder-container {
    width: calc(100vw - 2vw);
    height: 80%;
    display: flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}

.grid-container {
    height: calc(100vh - 13rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}

.dummy-container {
    height: 2rem;
    width: 2rem;
    background-color: #7f8c8d;
    position: fixed;
    z-index: 1;
}

.address-column-conatiner {
    position: sticky;
    top: 2rem;
    left: 0;
}

.address-row-conatiner {
    height: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}

.cells-container {
    position: absolute;
    top: 0;
    left: 2rem;
}

.address-column-cell {
    height: 2rem;
    width: 2rem;
    border: 1px solid #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-row-cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-container {
    display: flex;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}